@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'HKGroteskWide';
        src: url("/public/fonts/HKGroteskWide-Black.otf") format("opentype");
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: 'HKGroteskWide';
        src: url("/public/fonts/HKGroteskWide-Bold.otf") format("opentype");
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'HKGroteskWide';
        src: url("/public/fonts/HKGroteskWide-Medium.otf") format("opentype");
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'HKGroteskWide';
        src: url("/public/fonts/HKGroteskWide-Light.otf") format("opentype");
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'HKGrotesk';
        src: url("/public/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
        font-weight: 125 900;
        font-stretch: 75% 125%;
        font-style: normal;
    }
}

@layer components{
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #F5E7C6;
        cursor: pointer;
        transition: padding-top 0.55s cubic-bezier(.22,.68,0,1.31);
    }
    .hover-underline-animation:hover {
        padding-top: 0.5rem;
    }


    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #F5E7C6;
        transform-origin: bottom right;
        transition: transform 0.25s ease-in-out;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .hover-orange {
        display: inline-block;
        position: relative;
        transition: padding-left 0.45s cubic-bezier(.22,.68,0,1.31);
    }
    .hover-orange:hover{
        padding-left: 0.5rem
    }
    .hover-orange:after {
        content: '';
        position: absolute;
        width: 25%;
        transform: scaleX(1);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FF6D1F;
        transform-origin: bottom left;
        transition: transform 0.45s cubic-bezier(.22,.68,0,1.31);
    }
    .hover-orange:hover:after {
        transform: scaleX(2);
        transform-origin: bottom left;
    }

    button.filled:hover{
        background-color: #FF6D1F;
        color: #F5E7C6;
    }
    button:hover{
        background-color: #F5E7C6;
        color: #010609;
    }
}
html{
    scroll-behavior:smooth;
}
.swiper{
    position: relative;
    overflow: hidden;
}
.swiper:before, .swiper:after {
    content: '';
    display: block;
    position: absolute;
    width: 15vw;
    height: 100%;
    top: 0;
    z-index: 49;
}

h1 {
    @apply font-heading font-black text-3xl md:text-6xl xl:text-8xl;
}
h2 {
    @apply font-heading font-bold text-2xl md:text-5xl xl:text-6xl;
}
h3{
    @apply font-heading font-bold text-2xl md:text-3xl xl:text-5xl;
}
button{
    @apply transition-colors duration-300
}
